:root {
  --background-color: rgb(20, 20, 20);
  --sidebar-color: rgb(20, 20, 20);
  --bubble-color: rgb(36, 36, 36);
  --secondary-color: rgb(83, 83, 83);
  --detail-color: rgb(228, 228, 228);
  --secondary-detail-color: rgb(168, 168, 168);
  --cost-color: rgb(44, 187, 93);
  --review-color: rgb(255, 201, 38);
  --interact-color: rgb(10, 132, 255);
  --warning-color: rgb(239, 71, 67);
}

* {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--detail-color);
}

body {
  overflow: hidden;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

button, input, select {
  outline: none;
  border: none;
  background: none;
}

button, select {
  transition: color 0.2s ease;
  cursor: pointer;
}

button {
  padding: 8px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  cursor: pointer;
}

button:disabled {
  cursor: default;
  color: var(--detail-color) !important;
  opacity: 0.5;
}

select option {
  background-color: var(--bubble-color);
}

button:hover, select:hover {
  color: var(--interact-color);
}

*::-webkit-scrollbar {
  margin-left: -6px;
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--bubble-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 4px;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: var(--sidebar-color);
  gap: 20px;
  overflow: hidden;
}

/*#region Scaling Textbox*/
.scaling-textbox {
  width: auto;
  height: auto;
  color: var(--interact-color);
  outline: none;
}

.scaling-textbox:focus {
  border-bottom: 2px solid var(--detail-color);
}
/*#endregion*/

/*#region Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  display: flex;
  width: 100%;
  height: auto;
  background: none;
  border: none;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--detail-color);
  border-radius: 0;
}

.dropdown-text {
  text-align: center;
  flex-grow: 1;
  height: auto;
  font-size: 18px;
}

.dropdown-arrow {
  width: 20px;
  height: auto;
  transition: transform 0.2s ease;
}

.dropdown-content {
  overflow-y: hidden;
  transition: height 0.3s ease;
  border-bottom: 1px solid var(--detail-color);
}

.dropdown.hide .dropdown-content {
  margin-top: -1px;
  height: 0 !important;
  transition: height 0.3s ease, margin 0s 0.3s;
}

.dropdown.hide .dropdown-arrow {
  transform: rotate(180deg);
}
/*#endregion*/

/*#region Checklist*/
.checklist-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.checklist-option {
  display: inline-block;
  width: auto;
}

.checklist-option input {
  margin-right: 3px;
}
/*#endregion*/

/*#region Search*/
.search-container {
  display: flex;
  border-radius: 16px;
  border: 1px solid var(--detail-color);
  background-color: var(--bubble-color);
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.search-container input[type="text"] {
  width: 100%;
  height: 20px;
  background: none;
  color: var(--secondary-detail-color);
}

.search-container input[type="text"]:focus {
  border-bottom: 2px solid var(--detail-color);
}

.search-input-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 12px;
}

.search-icons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
}

.search-icon-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  background: none;
  position: relative;
  display: inline-flex;
}

.search-icon::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 2px solid var(--detail-color);
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: border-color 0.2s;
}
.search-icon::after {
  content: "";
  width: 12px;
  height: 2px;
  background-color: var(--detail-color);
  position: absolute;
  top: 16px;
  left: 17px;
  border-radius: 2px;
  transform: rotate(45deg);
  transform-origin: top left;
  transition: background-color 0.2s;
}
.search-icon:hover::before {
  border-color: var(--interact-color);
}
.search-icon:hover::after {
  background-color: var(--interact-color);
}

.clear-icon::before, .clear-icon::after {
  content: "";
  width: 26px;
  height: 2px;
  background-color: var(--detail-color);
  position: absolute;
  border-radius: 2px;
  top: 14px;
  left: 2px;
  transition: background-color 0.2s;
}
.clear-icon::before {
  transform: rotate(45deg);
}
.clear-icon::after {
  transform: rotate(-45deg);
}
.clear-icon:hover::before, .clear-icon:hover::after {
  background-color: var(--warning-color);
}
/*#endregion*/

/*#region Filter*/
.filter-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 20px;
  gap: 8px;
}

.double-slider {
  position: relative;
  height: 10px;
  background: none;
  border-radius: 5px;
  background-color: gray;
  margin-top: 40px;
  margin-bottom: 10px;
}

.slider-min-text, .slider-max-text {
  position: absolute;
  top: -30px;
  height: 20px;
  width: auto;
}

.double-slider .progress {
  height: 10px;
  left: 25%;
  right: 25%;
  border-radius: 5px;
  position: absolute;
}

.double-slider .progress.cost {
  background-color: var(--cost-color);
}

.double-slider .progress.review {
  background-color: var(--review-color);
}

.double-slider input[type="range"] {
  padding: 0;
  position: absolute;
  height: 10px;
  width: 100%;
  pointer-events: none;
  appearance: none;
  background: none;
}

.double-slider input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  pointer-events: all;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--detail-color);
  cursor: pointer;
  transition: background-color 0.2s;
}

.double-slider input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--secondary-detail-color);
  cursor: pointer;
  transition: background-color 0.2s;
}

.double-slider input[type="range"]:hover::-webkit-slider-thumb {
  background-color: var(--interact-color);
}

.double-slider input[type="range"]:hover::-webkit-slider-thumb {
  background-color: var(--interact-color);
}
/*#endregion Filter Section*/

/*#region Browse/Sort*/
.browse-container {
  padding-left: 20px;
  padding-right: 20px;
}

.sort-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;
}

.sort-direction {
  padding: 0;
  background: none;
}

.sort-direction .sort-dir-text, .sort-direction .sort-dir-arrow {
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease;
}

.sort-direction.descending .sort-dir-arrow {
  transform: rotate(180deg);
}

.sort-direction:hover .sort-dir-text, .sort-direction:hover .sort-dir-arrow {
  color: var(--interact-color);
}

.page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
}

/* add little left/right jolt when pressed if not stupid to implement */
.page-container button {
  transition: color 0.2s ease;
  padding: 0;
  background: none;
  margin-left: 20px;
  margin-right: 20px;
}

.page-container button:hover {
  color: var(--interact-color);
}

.page-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
/*#endregion*/

/*#region Results*/
.results-container {
  display: block;
  overflow-y: auto;
  border-top: 1px solid var(--detail-color);
}

.result-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--detail-color);
  padding: 20px;
}

.result-container p {
  margin: 5px;
}

.result-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 12px !important;
}

.cost-color {
  color: var(--cost-color);
}

.review-color {
  color: var(--review-color);
}

.result-map-button {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}
/*#endregion Results Section*/

/*#region Map*/
.map-container {
  flex-grow: 1;
  position: relative;
}

.map-info {
  position: absolute;
  background-color: var(--secondary-color);
  padding: 8px;
  border-radius: 0 10px 10px 10px;
  border: 1px solid var(--detail-color);
}

.map-info.right {
  border-radius: 10px 0 10px 10px !important;
}

.map-info.bottom {
  border-radius: 10px 10px 10px 0 !important;
}

.map-info.right.bottom {
  border-radius: 10px 10px 0 10px !important;
}

.map-info button {
  padding: 0;
}

.map-top-bar, .map-bottom-bar {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 8px;
  gap: 10px;
  pointer-events: none;
}

.map-top-bar {
  top: 0;
}

.map-bottom-bar {
  bottom: 0;
  justify-content: flex-end;
}

.map-bar-item {
  display: inline-block;
  height: auto;
  width: auto;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 5px;
  border: 1px solid var(--detail-color);
  pointer-events: all;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#map-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}

#map-canvas.drag {
  cursor: move;
}

#map-canvas.hover {
  cursor: pointer;
}

#map-canvas.click {
  cursor: grab;
}
/*#endregion*/

/*#region Debug*/
.debug-sidebar {
  width: 300px;
}

.debug-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 50%;
}

.log-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--detail-color);
}

.log-clear:hover {
  color: var(--warning-color);
}

.auto-clear-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.log-task-container {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding-top: 10px;
  gap: 10px;
}

.log-task {
  display: block;
  position: relative;
  border-bottom: 1px solid var(--detail-color);
  padding-left: 20px;
  padding-right: 20px;
}

.log-task p {
  margin-bottom: 4px;
}

.log-task .task-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
}

.log-task button {
  margin-top: 5px;
  margin-bottom: 10px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.log-task.fade-out {
  transition: opacity 0.5s ease, margin 0.5s ease 0.5s;
  opacity: 0;
}
/*#endregion Debug*/

/*#region Path Search*/
.path-search-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.path-dest-container {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.path-search-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  background-color: var(--bubble-color);
  border-radius: 16px;
  border: 1px solid var(--detail-color);
  gap: 10px;
  padding: 10px;
}

.frugal-result {
  display: none;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.frugal-result.show {
  display: flex;
}

.frugal-cost {
  color: var(--cost-color);
}

.frugal-success {
  color: var(--interact-color);
}

.frugal-success.unsuccessful {
  color: var(--warning-color);
}
/*#endregion*/

#testing-div {
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
}