:root {
  --background-color: rgb(20, 20, 20);
  --sidebar-color: rgb(34, 34, 34);
  --bubble-color: rgb(36, 36, 36);
  --secondary-color: rgb(83, 83, 83);
  --detail-color: rgb(228, 228, 228);
  --secondary-detail-color: rgb(168, 168, 168);
  --cost-color: rgb(0, 185, 154);
  --review-color: rgb(212, 200, 26);
  --interact-color: rgb(22, 84, 255);
  --warning-color: rgb(190, 7, 47);
}

* {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--detail-color);
}

body {
  overflow: hidden;
}

button, input, select {
  outline: none;
  border: none;
  background-color: var(--secondary-color);
}

button, select, option {
  border: 2px solid var(--secondary-detail-color);
  background-color: var(--secondary-color);
  height: 30px;
  cursor: pointer;
}

input[type="text"] {
  height: 20px;
  background: none;
  color: var(--secondary-detail-color)
}

input[type="text"]:focus {
  border-bottom: 2px solid var(--detail-color);
}

input::placeholder {
  color: var(--secondary-color);
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 400px;
  background-color: var(--sidebar-color);
  gap: 20px;
  padding-top: 20px;
}

.bubble {
  border-radius: 15px;
  border: 2px solid var(--detail-color);
  background-color: var(--bubble-color);
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  display: flex;
  width: 100%;
  height: auto;
}

.dropdown-text {
  text-align: center;
  flex-grow: 1;
  height: 100%;
}

.dropdown-arrow {
  width: 20px;
  height: 100%;
}

.dropdown-content {
  overflow-y: hidden;
  transition: height 0.3s ease;
}

.dropdown.hide .dropdown-content {
  height: 0 !important;
}

.dropdown.hide .dropdown-arrow {
  transform: rotate(180deg);
}

/*#region Search Section*/
.search-container {
  display: flex;
}

.search-container input[type="text"] {
  width: 100%;
}

.search-input-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.search-icons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  gap: 5px;
}

.search-icon-button {
  width: 40px;
  height: 40px;
  background: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  position: relative;
  display: inline-flex;
}

.search-icon::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 4px solid var(--detail-color);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: border-color 0.2s;
}
.search-icon::after {
  content: "";
  width: 16px;
  height: 4px;
  background-color: var(--detail-color);
  position: absolute;
  top: 22px;
  left: 24px;
  border-radius: 2px;
  transform: rotate(45deg);
  transform-origin: top left;
  transition: background-color 0.2s;
}
.search-icon:hover::before {
  border-color: var(--interact-color);
}
.search-icon:hover::after {
  background-color: var(--interact-color);
}

.clear-icon::before, .clear-icon::after {
  content: "";
  width: 36px;
  height: 4px;
  background-color: var(--detail-color);
  position: absolute;
  border-radius: 2px;
  top: 18px;
  left: 2px;
  transition: background-color 0.2s;
}
.clear-icon::before {
  transform: rotate(45deg);
}
.clear-icon::after {
  transform: rotate(-45deg);
}
.clear-icon:hover::before, .clear-icon:hover::after {
  background-color: var(--warning-color);
}
/*#endregion Search Section*/

/*#region Filter Section*/
.double-slider {
  position: relative;
  height: 10px;
  background: none;
  border-radius: 5px;
  background-color: gray;
  margin-top: 40px;
  margin-bottom: 10px;
}

.slider-min-text, .slider-max-text {
  position: absolute;
  top: -30px;
  height: 20px;
  width: auto;
}

.double-slider .progress {
  height: 10px;
  left: 25%;
  right: 25%;
  border-radius: 5px;
  position: absolute;
}

.double-slider .progress.cost {
  background-color: var(--cost-color);
}

.double-slider .progress.review {
  background-color: var(--review-color);
}

.double-slider input[type="range"] {
  padding: 0;
  position: absolute;
  height: 10px;
  width: 100%;
  pointer-events: none;
  appearance: none;
  background: none;
}

.double-slider input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  pointer-events: all;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--detail-color);
  cursor: pointer;
  transition: background-color 0.2s;
}

.double-slider input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--secondary-detail-color);
  cursor: pointer;
  transition: background-color 0.2s;
}

.double-slider input[type="range"]:hover::-webkit-slider-thumb {
  background-color: var(--interact-color);
}

.double-slider input[type="range"]:hover::-webkit-slider-thumb {
  background-color: var(--interact-color);
}
/*#endregion Filter Section*/

/*#region Browse/Sort Section*/
.browse-container {
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.page-input {
  width: 50px;
}
/*#endregion Browse/Sort Section*/

/*#region Results Section*/
.results-container {
  display: block;
  overflow-y: auto;
}

.result-container {
  border-bottom: 1px solid var(--detail-color);
  padding: 20px;
}

.result-container p {
  margin: 5px;
}

.result-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px !important;
}

.result-cost {
  color: var(--cost-color);
}

.result-review {
  color: var(--review-color);
}
/*#endregion Results Section*/

.map-container {
  flex-grow: 1;
  position: relative;
}

.map-info {
  position: absolute;
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--detail-color);
}

.map-main-info {
  position: absolute;
  background-color: red;
  left: 0;
  bottom: 0;
}

#map-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}

#map-canvas.drag {
  cursor: move;
}

#map-canvas.hover {
  cursor: pointer;
}

#map-canvas.click {
  cursor: grab;
}

/*#region Debug Section*/
.debug-section {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: auto;
}

.log-task-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 10px;
}

.log-task {
  display: block;
  position: relative;
}

.log-task.fade-out {
  transition: opacity 0.5s ease, margin 0.5s ease 0.5s;
  opacity: 0;
}
/*#endregion Debug Section*/